body{
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFBFE;
}

.cabecalhoPrincipal {
    background-color: #152614;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 5px;
    border-bottom: 2px solid #2A7221;
}

.cabecalhoPrincipal-titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFFBFE;
}

.pisca-animacao{
    animation: pisca 600ms infinite;
}

@keyframes pisca {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.conteudoPrincipal{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 50px;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
}

.container__card{
    height: 100%;
}

.subtexto{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.inputEntrada{
    width: 100%;
    height: calc(100% - 4rem);
    flex-grow: 1;
    resize: none;

    box-sizing: border-box;
    margin: 0 0 5px;
    padding: 10px;

    border: 1px solid black;

    box-shadow: 10px -10px #2A7221;

    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.inputSaida{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 5px;
    padding: 10px;
}

.cadeadoImg{
    background-image: url('../img/lock.png');
    background-repeat: no-repeat;
    background-position: center;
}

.container__botoes{
    display: flex;
    justify-content: space-around;
}

.botao{
    background-color: white;
    color: #191e3a;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;

    border: 1px solid #191e3a;
    margin-top: 15px;
    box-shadow: 5px -5px #2A7221;

    padding: 5px 0;
    cursor: pointer;
}

.botao:hover{
    background-color: #2A7221;
    color: white;
    border-color: white;
    transition: .5s;
}

.rodapePrincipal{
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #2A7221;
}

.rodapePrincipal__item{
    margin: 0 2rem;
}



/* OUTROS TAMANHOS DE TELA*/

@media only screen and (min-width: 0){

    .container{
        flex-direction: column;
    }

    .container__card{
        width: 100%;
    }

    .container__botoes{
        flex-direction: column;
        align-items: center;
    }

    .botao{
        width: 100%;
    }
    
    .cadeadoImg{
        background-size: 100px 100px;
    }
}

@media only screen and (min-width: 768px){
    .container{
        flex-direction: row;
    }

    .container__card{
        width: calc(50% - 5px);
    }
    
    .cadeadoImg{
        background-size: auto;
    }

    .container__botoes{
        flex-direction: row;
        align-items: center;
    }
    
    .botao{
        width: 30%;
    }
}